doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Fiksar lp
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.min.css')
  body
    .wrapper
        header
            .header-wrapper
                .logo
                    p fiksar
                button.mobile-menu
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#menu-1')
                nav
                    ul
                        li
                            a(href="#") How it Works
                        li
                            a(href="#") Find a Job
                        li
                            a(href="#") Login
                        li
                            a(href="#") Sign Up
                        li
                            svg.icon
                                use(xlink:href='../img/svg/icons-sprite.svg#world-wide-web')
                            a(href="#") Esp
        .title
            h1 Find reliable & verified #[br] home service providers#[span .]
            form(action="#")
                svg.icon
                    use(xlink:href='../img/svg/icons-sprite.svg#home-black-shape')
                input(type="text")
                input(type="submit", value="Send")
            .tags-wrapper
                .tags
                    a(href="#") House cleaning
                    a(href="#") Painting
                    a(href="#") Photography
                    a(href="#") Personal training
                    a(href="#") Lorem ipsum dolor
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem ipsum dolor
                    a(href="#") Lorem ipsum
                    a(href="#") Lorem
                    a(href="#") Lorem
                button.more-tags
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#more')
    footer
        nav
            ul
                li
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#menu')
                    a(href="#") All categories
                li
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#home-1')
                    a(href="#") Home
                li
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#briefcase')
                    a(href="#") Business
                li
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#camera-diaphragm')
                    a(href="#") Photography
                li
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#book-with-bookmark')
                    a(href="#") Lessons
                li
                    svg.icon
                        use(xlink:href='../img/svg/icons-sprite.svg#theater')
                    a(href="#") Entertainment

    //- scripts
    script(src="js/libs.min.js")
    script(src="js/main.js")



